*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
}

.head h1{
    padding: 0.5em;
    color: dodgerblue;
    text-align: left;
}

.primer_div{
    border: 1px blue solid;
    margin: 2em;
}

.img_1{
    border: red solid 1px;
    text-align: left;
    display: inline-block;
    margin: 0.2em 0em 0.2em;
}

.texto_1{
    border: 1px red solid;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: large;
    text-align: left;
    padding: 0.2em;
}
.primer_div p{
    border: 1px red solid;
    display: inline-block;
    width: 98%;
    vertical-align: top;
    padding: 0.2em;
}

.primer_boton{
    width: 75%;
    text-align: right;
    display: inline-block;

}

.boton_1{
    border: 1px dodgerblue;
    width: 30%;
    text-align: right;
    display: inline-block;
    margin: 2em;
    padding: 0.5em;
    background-color:dodgerblue ;
    color: aliceblue;
}

#segunda_seccion{
    border: 1px red solid;
    background-color: darkgray;

}

.segundo_div h2{
    border: 1px blue solid;
    padding: 0.2em;
    text-align: left;
    color: dodgerblue;
    width: 30%;
    
}

.segundo_div p{
    border: 1px blue solid;
    padding: 0.2em;
    text-align: left;
    width: 55%;
}

.tercer_div{
    border: 1px yellow solid;
}

.bloque1{
    border: blue solid 1px;
    width: 30%;
    text-align: left;
    display: inline-block;
    padding: 0.2em;
    margin: 0.5em;
}


