*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 55%;
    margin: 2em;
}

header h1{
    color: rgb(0, 119, 255);
    padding-left: 0.1em;
}

section{
    margin: 2em;
    border: 1px blue solid;
}

.img1{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.texto{
    width: 71%;
    display: inline-block;
}

.texto h3{
    margin-bottom: 0.8em;
    padding-left: 0.4em;
    padding-top: 1em;
}

.texto p{
    margin-bottom: 2em;
    padding-left: 0.4em;
}

.texto button{
    border: 1px rgb(51, 99, 187) solid;
    width: 30%;
    padding: 1em 0em ;
    margin-left: 27em;
    background-color: rgb(51, 99, 187);
    color: aliceblue;
}

button:hover{
    background-color: rgb(1, 1, 95);
    border: 1px rgb(51, 99, 187) solid;
}

h2{
    color: rgb(0, 119, 255);
    margin-bottom: 0.4em;
    font-size: xx-large;
}

.texto2{
    padding: 0.2em;
    margin-bottom: 1em;
}

.texto2 p{
    width: 60%;
}

.cubos{
    width: 29.4%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 3px 3px 2px rgb(85, 85, 85);
    margin: 0.4em;
    padding: 0.4em;
}

.cubos h3{
    font-size: medium;
    margin-bottom: 0.8em;
}

.cubos i{
    font-size: xx-large;
    margin-bottom: 0.6em;
    color: rgb(51, 99, 187);
}