*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 55%;
    margin: 2em;
}

header h1{
    color: rgb(51, 99, 187);
}

section{
    margin: 2em;
}

.img1{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.texto{
    width: 71%;
    display: inline-block;
    margin-left: 0.3em;
}

.texto h3{
    padding-left: 0.4em;
    padding-top: 1em;
    margin-bottom: 0.8em;
}

.texto p{
    margin-bottom: 2em;
    padding-left: 0.4em;
}

.texto button{
    border: 1px rgb(51, 99, 187) solid;
    width: 30%;
    padding: 1em 0em ;
    margin-left: 27em;
    background-color: rgb(51, 99, 187);
    color: aliceblue;
}

button:hover{
    background-color: rgb(1, 1, 95);
    border: 1px rgb(51, 99, 187) solid;
}

h2{
    color: rgb(51, 99, 187);
    font-size: xx-large;
    padding-bottom: 0.5em;
}

.texto2{
    padding: 2em;
    margin-bottom: 0.3em;
}

.texto2 p{
    width: 60%;
}

#seccion2{
    margin: 0em;
    background-color: rgb(224, 224, 224);
}

.cubos{
    width: 22%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 3px 3px 2px rgb(85, 85, 85);
    margin-left: 2em;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 1em 1.5em;
    background-color: rgb(255, 255, 255);
}

.cubos h3{
    font-size: medium;
    margin-bottom: 0.8em;
}

.cubos i{
    font-size: xx-large;
    margin-bottom: 0.6em;
    color: rgb(51, 99, 187);
}

.divfinal{
    text-align: center;
}

.circulos img{
    max-width: 85%;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.circulos{
    width: 32.7%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.circulos button{
    margin-top: 1em;
    padding: 0.8em 1.8em;
    border: rgb(51, 99, 187) solid 1px;
    background-color: rgb(51, 99, 187);
    color: aliceblue;
}

.circulos button:hover{
    background-color: rgb(1, 1, 95);
    border: 1px rgb(51, 99, 187) solid;
}