/* selector universal - a todo margen cero y margen interna cero*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center; /* alineacion de texto centrado */
    background-image: url('../img/fondo_4.png');
}

nav{
    /* color de fondo} */
    background-color: cadetblue;
    color: antiquewhite;
    padding: 1.5em 0em; /* espacio interno arriba-abajo  derecha-izquierda */
    /* margin:0px ; margen hacia afuera */
    /* padding: 15px 20px;  margen hacia adrentro */
}

/* color de los enlaces dentro del nav */
nav a{
    color: aliceblue; /* color de la fuente */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* tipo de fuente */
    font-weight: bold; /* grosor de la fuente */
    text-decoration: none; /*decoracion de texto desactivada */
    /* border: 2px yellow solid; borde con ancho color estilo */
}

nav li{
    /* border: 2px: red solid; */
    /*width: 12%; porcentaje de ancho de li */
    display: inline-block; /* alineacion horizontal */
    margin: 0px 1em;
}

/* cuando el puntero del mouse este sobre el elemento */
nav a:hover{
    color: rgb(85, 226, 226);
}

header{
    background-image: url('../img/fondo_4.png');
    background-size: cover;
    padding: 1em 1em;
}

/* selector de clase: se hace con .nombre_clase */
.foto{
    width: 25%;
    border-radius: 50%; /* reordenar bordes */
    border: 0.2em rgb(49, 47, 204) solid; /* borde grosor, color y estilo */
}

header h1{
    color: aliceblue;
    text-shadow: 2px 2px 3cap rgb(49, 47, 204); /* sombra de texto */
    margin-bottom: 0.5em;

}

#unico{
    background-color: cadetblue;
    padding: 0.3em 0.8em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold; /* grosor de la fuente */
    font-family: 'Courier New', Courier, monospace; /* tipo de fuente */
}

section{
    width: 80%;
    box-shadow: 0px 0px 10px 2px black;
    margin: 3em auto;
    padding: 2em;
    border-radius: 1em;
    background-color: cadetblue;
}

h2{
    font-size: 2em;
    color: aliceblue;
    border-bottom: 3px white;
    margin: 1em 0em 1em 0em;
    border-bottom: dashed white;
}

#perfil p{
    margin-bottom: 1em;
}

.boton{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 3px rgb(47, 47, 160) solid;
    font-weight: bold;
    box-shadow: 0px 0px 5px 3px rgb(47, 47, 160);
    margin: 0em 1em;
}

.b-uno{
    background-color: darkgoldenrod;
    color: white;
}

.b-dos{
    background-color: darkslateblue;
    color: aliceblue;
}


.boton:hover{
    background: white;
    color: black;
    box-shadow: none;
}

#estudios div{
    width: 45%;
    display: inline-block;
    margin-bottom: 1em;
}

img{
    max-width: 100%;
}

#habilidades .col{
    /*border: 2px red solid;*/
    width: 32%;
    display: inline-block;
}
.col div{
    width: 45%;
    display: inline-block;
    vertical-align: top; /* iniciar la aliniciaon vertical desde arriba */
    text-align: left;
    padding: 0.1em;
}
.logo{
    width: 30%;
}

.texto{
    /*border: 1px white solid;*/
    padding: 3em 0em !important;
}

.grupo-proyecto, .videos-proyecto{
    /*border: 1px green solid;*/
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.texto-proyecto, .img-proyecto{
    /*border: 1px red solid;*/
    width: 47%;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}

.videos-proyecto{
    margin-top: 3em;
}

#proyestos h3{
    margin-bottom: 2em;
}

footer{
    background-color: rgb(202, 202, 202);
}

footer .row{
    width: 80%;
    border: red solid 1px;
    display: inline-block;
    margin: 1em;
    padding: 1em;
}

footer .col{
    border: yellow solid 1px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 1em;
}

footer input, footer textarea{
    border: 2px black solid;
    width: 100%;
    margin: 0.3em 0em;
    padding: 0.4em;
    border-radius: 0.9em;
}

.enviar{
    width: 60%;
    background-color: cornflowerblue;
    font-weight: bold;
}

.enviar:hover{
    background-color: darkblue;
    color: aliceblue;
    border-color: aliceblue;
}

footer h3{
    margin-top: 0.5em;
}

footer p{
    margin-top: 0.4em;
}