*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: left;
}

nav {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    border: blue solid 1px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

nav li{
    border: red solid 1px;
    width: 20%;
    display: inline-block;
    text-align: right;
}

header{
    border: 1px blue solid;
    margin: 2em;
}

header .col{
    margin: 0.5em;
    border: 1px red solid;
    width: 47%;
    display: inline-block;
    vertical-align: top;
}

header p{
    margin-bottom: 0.7em;
}

header button{
    width: 40%;
    background-color: chocolate;
    color: aliceblue;
    border: coral solid 0.2em;
    border-radius: 5em;
    padding: 2em;
}